@font-face {
	font-family:maven_b;
	src:url(../fonts/MavenPro-Black.ttf)
}

@font-face {
	font-family:source_r;
	src:url(../fonts/SourceSansPro-Regular.otf)
}

@font-face {
	font-family:source_s;
	src:url(../fonts/SourceSansPro-Semibold.ttf)
}


@font-face {
    font-family: 'beyond';
    src: url('../fonts/beyond.woff2') format('woff2'),
         url('../fonts/beyond.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}








body,html,* {
	padding:0;
	margin:0
}

body,html {
	width:100%;
	height:100%
}

li {
    list-style-type: none;
    color: #fff;
    font-family: "source_r";
    font-size: 22px;
    line-height: 33px;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

a {
	text-decoration:none;
	color:inherit
}

.source_r {
	font-family:"source_r"
}

.source_s {
	font-family:"source_s"
}

.maven_b {
	font-family:"maven_b"
}
.beyond {
font-family: "beyond";
    letter-spacing: 0px;
    text-align: center;	
}
.midPageLogin input {
	
    padding: 5px 0 5px 10px;
    font-size: 15px;
    text-align: left;
    margin: auto;
    border-radius: 5px;
    width: 75%;
    box-shadow: inset 1px 1px 6px #a7c68f;

}

.mainLogin {
	  padding: 5px 0 5px 10px;
    font-size: 15px;
    text-align: left;
    margin: auto;
    border-radius: 5px;
 
    box-shadow: inset 1px 1px 6px #a7c68f;
}
#Login {
	    width: auto;
    padding: 5px 13px;
	color:#fff;
	background:#3d4e25;	
	box-shadow: inset 1px 1px 4px rgba(0,0,0, 0.1);
}
#Login hover {
background: #72BC8F;	
}
#Login2, #Login3 {
    width: 23%;
    background: #a7c68f;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);	
}
.buy
{
	opacity: 0;
	background-color: #72BC8F;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	text-align: center;
	line-height: 100px;
	color: #FFF;
	cursor: pointer;
	position: fixed;
	z-index: 10000;
	border: 2px solid #72BC8F;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	-webkit-transition: all .55s ease;
	   -moz-transition: all .55s ease;
	    -ms-transition: all .55s ease;
	     -o-transition: all .55s ease;
	        transition: all .55s ease;
	top: 10px;
	-webkit-transform:translate(-50%, 0%);
	-ms-transform:translate(-50%, 0%);
	-o-transform:translate(-50%, 0%);
	transform:translate(-50%, 0%);
}
.buy.active
{
	opacity: 1;
}
.buy:hover
{
	background-color: transparent;
	color: #72BC8F;
}

/* LOADER */

.loader
{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	z-index: 100;
}
.point_loader_style
{
	height: 20px;
	width: 20px;
	border-radius: 30px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	background-color: #4e5b31;
}
.point_loader_1
{
	animation:load_anim 1.5s ease infinite;
	-webkit-animation:load_anim 1.5s ease infinite;
}
.point_loader_2
{
	animation:load_anim 1.5s ease infinite;
	-webkit-animation:load_anim 1.5s ease infinite;
	-webkit-animation-delay: 0.16s; /* Chrome, Safari, Opera */
    animation-delay: 0.16s;
}
.point_loader_3
{
	animation:load_anim 1.5s ease infinite;
	-webkit-animation:load_anim 1.5s ease infinite;
	-webkit-animation-delay: 0.32s; /* Chrome, Safari, Opera */
    animation-delay: 0.32s;
}
@-webkit-keyframes load_anim {
0% {
	opacity: 0.3;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}

50% {
	opacity: 1;
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
}

100% {
	opacity: 0.3;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}
}

@keyframes load_anim {
0% {
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
}

50% {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

100% {
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
}
}

/* END LOADER */

/* LIGHTBOX */

.lightbox
{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	z-index: 10;
}
.nav_lightbox
{
	z-index: 2;
	position: absolute;
	top:50%;
	right: 10px;
	-webkit-transform:translate( 0%,-50%);
	-ms-transform:translate( 0%,-50%);
	-o-transform:translate( 0%,-50%);
	transform:translate( 0%,-50%);
}
.top_button, .bottom_button, .close_button
{
	height: 60px;
	width: 60px;
	background-color: #FFF;
	border-radius: 60px;
	margin: 10px;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	cursor: pointer;
	position: relative;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.bottom_button:hover
{
	background-color: #4e5b31;
	box-shadow:0px 0px 0px rgba(0,0,0,0);
}
.bottom_button svg
{
	height: 25px;
	fill: #4e5b31;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.bottom_button:hover svg
{
	fill: #FFF;
}
.top_button:hover
{
	background-color: #4e5b31;
	box-shadow:0px 0px 0px rgba(0,0,0,0);
}
.top_button svg
{
	height: 25px;
	fill: #4e5b31;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.top_button:hover svg
{
	fill: #FFF;
}
.close_button
{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}
.close_button svg
{
	height: 15px;
	fill: #4e5b31;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.close_button:hover
{
	box-shadow:0 0px 0px rgba(0,0,0,0);
	background-color: #4e5b31;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.close_button:hover svg
{
	fill: #FFF;
}
.container_photo_style
{
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;
}
.container_photo_style.anim
{
	-webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	     -o-transform: scale(0.8);
	        transform: scale(0.8);
}
.photo_style
{	
	position: absolute;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;

	-webkit-transition: all 0.45s ease;
	   -moz-transition: all 0.45s ease;
	    -ms-transition: all 0.45s ease;
	     -o-transition: all 0.45s ease;
	        transition: all 0.45s ease;

	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}
.photo_style.active
{
	z-index: 1;
	opacity: 1;
}
.photo_style.anim_1
{
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
}

.photo_style.anim_3
{
	-webkit-transform: translateY(100%);
	   -moz-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	     -o-transform: translateY(100%);
	        transform: translateY(100%);
}

.container_info_photo_max
{
	position: absolute;
	bottom: 65px;
	left: 65px;
	max-width: 65%;
}

.title_photo_max
{
	font-size: 3vw;
	margin-bottom: 3%;

	opacity: 0;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-ms-transition-delay: 1s;
	-o-transition-delay: 1s;
    transition-delay: 1s;

	-webkit-transform:translateY(40px);
	-moz-transform:translateY(40px);
	-ms-transform:translateY(40px);
	-o-transform:translateY(40px);
	transform:translateY(40px);
}

.photo_style.active .title_photo_max
{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity: 1;
}	

.subtitle_photo_max 
{
	font-size: 16px;

	opacity: 0;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	-webkit-transition-delay: 1.1s;
	-moz-transition-delay: 1.1s;
	-ms-transition-delay: 1.1s;
	-o-transition-delay: 1.1s;
    transition-delay: 1.1s;

	-webkit-transform:translateY(40px);
	-moz-transform:translateY(40px);
	-ms-transform:translateY(40px);
	-o-transform:translateY(40px);
	transform:translateY(40px);
}

.photo_style.active .subtitle_photo_max
{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity: 1;
}

/* END LIGHTBOX */

/* ACTIVE MENU */

.button_active_menu
{
	cursor: pointer;
	height: 56px;
	width: 56px;
	border-radius: 100%;
	border: 2px solid #FFF;
	position: absolute;
	top: 27px;
	left: 41px;
	z-index: 10;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.button_active_menu:hover
{
	border-color: #4e5b31;
}
.button_active_menu.active
{
	border-color: #4e5b31;
}
.bar_burger_style
{
	height: 2px;
	width: 30px;
	background-color: #FFF;
	position: absolute;
	left: 11px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.button_active_menu:hover .bar_burger_style
{
	background-color: #4e5b31;
}
.button_active_menu.active .bar_burger_style
{
	background-color:#4e5b31;
}
.bar_burger_1
{
	top: 18px;
}
.button_active_menu.active .bar_burger_1
{
	top: 20px;
	width: 20px;
	left: 10px;
	-webkit-transform: rotate(-29deg);
	   -moz-transform: rotate(-29deg);
	    -ms-transform: rotate(-29deg);
	     -o-transform: rotate(-29deg);
	        transform: rotate(-29deg);
}
.bar_burger_2
{
	top: 25px;
}
.bar_burger_3
{
	bottom: 18px;
}
.button_active_menu.active .bar_burger_3
{
	bottom: 20px;
	width: 20px;
	left: 10px;
	-webkit-transform: rotate(29deg);
	   -moz-transform: rotate(29deg);
	    -ms-transform: rotate(29deg);
	     -o-transform: rotate(29deg);
	        transform: rotate(29deg);
}
/* END ACTIVE MENU */

/* SHARE CONTENT */

.container_share_content
{
	position: absolute;
	top: 27px;
	right: 41px;
	z-index: 10;
}
.share_header
{
	width: 55px;
	height: 55px;
	border-radius: 100%;
	cursor: pointer;
	position: relative;
	display: inline-block;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.share_header svg
{
	height: 14px;
	fill: #FFF;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.share_header:hover
{
	border: 2px solid white;
}

/* END SHARE CONTENT */

/* MENU */
.container_menu
{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 4;
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}
.container_menu.show
{
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}
.menu
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	
}
.content_menu
{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.container_on_menu
{
	height: 55px;
	width: 185px;
	margin: auto;
	position: relative;
	overflow: hidden;
	margin-top: 5vw;
	margin-bottom: 5vw;
	cursor: pointer;
}
.content_on_menu
{
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	font-size: 42px;
	color: #5f5f5f;
	-webkit-transform: translateY(100%);
	   -moz-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	     -o-transform: translateY(100%);
	        transform: translateY(100%);
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.content_on_menu:hover
{
	color: #4e5b31;
}
.share_menu
{
	width: 55px;
	height: 55px;
	border-radius: 100%;
	cursor: pointer;
	position: relative;
	display: inline-block;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.share_menu svg
{
	height: 20px;
	fill: #5f5f5f;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.share_menu:hover
{
	border: 2px solid #5f5f5f;
}
.content_menu.active .content_on_menu
{
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}
.content_on_menu_1
{
	-webkit-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}
.content_on_menu_2
{
	-webkit-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
}
.content_on_menu_3
{
	-webkit-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 0.45s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
}
/* END MENU */

/* HOME */
.home {
	position:relative;
	height:100%;
	width:100%;
	overflow: hidden;
	opacity: 1;
}

.home.hide {
	opacity: 0;
	position: absolute;
	top: -100%;
}

.container_background_img_home {

	height:100%;
	width:100%;
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.container_background_img_home.anim
{
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
.background_img_home
{
	height: 100%;
	width: 100%;
	background-repeat:no-repeat;
  	background-position: center center;
  	background-size: cover;
}

.rectangle_blanc_background_anim {
	width:100%;
	height:100%;
	z-index: 1;
	background-color:#FFF;
	position:absolute
}

.rectangle_blanc_background_anim.anim {
	animation:rectangle_blanc_background_anim 1s cubic-bezier(1,0.200,0.300,1) forwards;
	-webkit-animation:rectangle_blanc_background_anim 1s cubic-bezier(1,0.200,0.300,1) forwards
}

@-webkit-keyframes rectangle_blanc_background_anim {
0% {
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-ms-transform:translateY(0%);
	-o-transform:translateY(0%);
	transform:translateY(0%)
}

100% {
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	transform:translateY(-200%)
}
}

@keyframes rectangle_blanc_background_anim {
0% {
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-ms-transform:translateY(0%);
	-o-transform:translateY(0%);
	transform:translateY(0%)
}

100% {
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	transform:translateY(-200%)
}
}

.container_svg_round_img {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1
}

.container_svg_round_img.anim {
	animation:container_background_img_home_anim 1s cubic-bezier(1,0.200,0.300,1) forwards;
	-webkit-animation:container_background_img_home_anim 1s cubic-bezier(1,0.200,0.300,1) forwards
}

@-webkit-keyframes container_background_img_home_anim {
0% {
	-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%)
}

100% {
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	transform:translateY(-100%)
}
}

@keyframes container_background_img_home_anim {
0% {
	-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%)
}

100% {
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	transform:translateY(-100%)
}
}

.svg_round_img {
	width:100%
}

.container_text_home {
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	color:#4E504E;
	z-index:3;
	opacity:1;
	width: 100%;
}
.title_home {
	font-size:100px;
	opacity: 0;

	display: inline-block;
	overflow: hidden;
}
.title_home.anim_1 {
	animation:container_text_home_anim_1 3s linear forwards;
	-webkit-animation:container_text_home_anim_1 3s linear forwards;
}

@-webkit-keyframes container_text_home_anim_1 {
0% {
	opacity:1;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
50% {
	opacity:1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
51% {
	opacity:0;

}

100% {
	opacity:0;

}
}

@keyframes container_text_home_anim_1 {
0% {
	opacity:1;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
50% {
	opacity:1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
51% {
	opacity:0;

}

100% {
	opacity:0;

}
}
.subtitle_home {
	opacity:0;
	font-size:30px;
	color:#FFF
}

.subtitle_home.anim {
	animation:subtitle_home_anim .5s ease forwards;
	-webkit-animation:subtitle_home_anim .5s ease forwards
}

@-webkit-keyframes subtitle_home_anim {
0% {
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	-ms-transform:translateY(-20px);
	-o-transform:translateY(-20px);
	transform:translateY(-20px)
}

100% {
	opacity:1;
	-webkit-transform:translateY(10px);
	-moz-transform:translateY(10px);
	-ms-transform:translateY(10px);
	-o-transform:translateY(10px);
	transform:translateY(10px)
}
}

@keyframes subtitle_home_anim {
0% {
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	-ms-transform:translateY(-20px);
	-o-transform:translateY(-20px);
	transform:translateY(-20px)
}

100% {
	opacity:1;
	-webkit-transform:translateY(10px);
	-moz-transform:translateY(10px);
	-ms-transform:translateY(10px);
	-o-transform:translateY(10px);
	transform:translateY(10px)
}
}

.container_title_home_slice {
	overflow: hidden;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}

.bar_title_home_slice {
	width:0;
	height:4px;
	background-color:#4e5b31;
	position:absolute;
	top:50%;
	-webkit-transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	-o-transform:translate(0%,-50%);
	transform:translate(0%,-50%);
}

.bar_title_home_slice.anim {
	animation:bar_title_home_slice_anim 0.75s ease forwards;
	-webkit-animation:bar_title_home_slice_anim 0.75s ease forwards
}

@-webkit-keyframes bar_title_home_slice_anim {
0% {
	width:0;
	left:0px;
}

50% {
	width:100%
}

100% {
	left:100%;
	width:0;
}
}

@keyframes bar_title_home_slice_anim {
0% {
	width:0;
	right:0
}

50% {
	left:0;
	width:100%
}

100% {
	right:0;
	width:0
}
}

.title_home_slice_1,.title_home_slice_2 {
	overflow:hidden;
	height:50px;
	font-size:100px;
	color:#4e5b31;
	position:relative;
}

.text_title_home_slice {
	-webkit-transition:margin-top .3s ease-out;
	-moz-transition:margin-top .3s ease-out;
	-ms-transition:margin-top .3s ease-out;
	-o-transition:margin-top .3s ease-out;
	transition:margin-top .3s ease-out;
}

.title_home_slice_1 .text_title_home_slice {
	margin-top:100px
}

.title_home_slice_1 .text_title_home_slice.anim {
	margin-top:-18px
}

.title_home_slice_2 .text_title_home_slice {
	margin-top:-100px
}

.title_home_slice_2 .text_title_home_slice.anim {
	margin-top:-68px
}

.title_home_slice_1.white,.title_home_slice_2.white {
	color:#FFF;
	font-size: 120px;
}

.slide_home {
	opacity: 0;
	position:absolute;
	width:66px;
	height:66px;
	border-radius:100px;
	background-color:#fff;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	cursor:pointer;
	z-index:2;
	overflow:hidden;
	bottom:-66px;
	left:50%;
	-webkit-transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%);
	-o-transform:translate(-50%,0%);
	transform:translate(-50%,0%);
	-webkit-transition:all .45s ease-out;
	-moz-transition:all .45s ease-out;
	-ms-transition:all .45s ease-out;
	-o-transition:all .45s ease-out;
	transition:all .45s ease-out;
}

.slide_home.anim {
	bottom:30px;
	opacity: 1;
}

.slide_home svg {
	height:26px;
	width:12px;
	fill:#4e5b31;
	position:absolute;
	top:0;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	-webkit-transition:all 0.7s ease-out;
	-moz-transition:all 0.7s ease-out;
	-ms-transition:all 0.7s ease-out;
	-o-transition:all 0.7s ease-out;
	transition:all 0.7s ease-out;
}

.slide_home.anim svg {
	top:50%
}

/* END HOME */

.container_resume {
	width:100%;
	background-color:#FFF;
	padding-top:95px;
	padding-bottom:85px
}

.resume_position {
	margin:auto;
	max-width:900px;
	padding-left:50px;
	padding-right:50px
}

.title_resume {
	color:#464745;
	font-size:32px
}

.description_resume {
	color:#c4c7c2;
	font-size:16px;
	margin-top:25px
}

.container_box, .container_box_2 {
	width:100%;
	background-color:#FFF;
	z-index:1;
	position:relative
}

.box_style_1,.box_style_2 {
	width:50%;
	height:50vw;
	display: inline-block;
	vertical-align: top;
}

.box_style_4 {
	width:50%;
	height:25vw;
	display: inline-block;
	vertical-align: top;
}

.box_style_2 {
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
}

.box_in_style_1 {
	vertical-align:top;
	height:25vw;
	width:50%;
	display:inline-block;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.anim_box_1,.anim_box_2,.anim_box_3, .anim_box_4 {
	opacity:0;
	-webkit-transform:translateY(100px);
	-moz-transform:translateY(100px);
	-ms-transform:translateY(100px);
	-o-transform:translateY(100px);
	transform:translateY(100px);
	/*
	-webkit-transition:all 1s ease-out;
	-moz-transition:all 1s ease-out;
	-ms-transition:all 1s ease-out;
	-o-transition:all 1s ease-out;
	transition:all 1s ease-out; */
}

.content_box_in {
	text-align:center;
	width:80%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}

.logo_content_box_in {
	margin:auto;
	text-align:center
}

.logo_content_box_in svg {
	display:inline-block
}

.title_content_box_in {
	text-align:center;
	margin:auto;
	font-size:2vw;
	margin-top:5%
}
.title_content_box_in a
{
	text-decoration: none;
}

.info_content_box_in {
	width:50%;
	font-size:1.3vw;
	margin:auto;
	text-align:center
}

.link_content_box_in {
	display:inline-block;
	font-size:1vw;
	text-decoration:underline;
	margin-top:3%
}

.box_in_style_3 {
	width:100%;
	height:25vw;
	padding-top:12%;
	padding-left:10%;
	padding-right:10%;
}

.anim_box_1.anim,.anim_box_2.anim,.anim_box_3.anim,.anim_box_4.anim {	
	animation:box_anim 1s ease forwards;
	-webkit-animation:box_anim 1s ease forwards
}
@-webkit-keyframes box_anim {
0% {
	opacity:0;
	-webkit-transform:translateY(200px);
	-moz-transform:translateY(200px);
	-ms-transform:translateY(200px);
	-o-transform:translateY(200px);
	transform:translateY(200px);
}

100% {
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity:1;
}
}

@keyframes box_anim {
0% {
	opacity:0;
	-webkit-transform:translateY(200px);
	-moz-transform:translateY(200px);
	-ms-transform:translateY(200px);
	-o-transform:translateY(200px);
	transform:translateY(200px);
}

100% {
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity:1;
}
}

.title_box_in_style_3 {
	font-size:2.3vw
}

.subtitle_box_in_style_3 {
	margin-top:15px;
	font-size:1.2vw
}

.overlay_photo_min
{
	position: relative;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.container_like
{
	cursor: pointer;
	position: absolute;
	top: 28px;
	right: 25px;
	height: 22px;
	padding-left: 30px;
}

.container_svg_like
{
	position: absolute;
	height: 100%;
	left: 0px;
	top:50%;
	-webkit-transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	-o-transform:translate(0%,-50%);
	transform:translate(0%,-50%);
}

.container_like svg
{
	height: 22px;
	fill: #FFF;
	position:absolute;

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;

	animation:like_anim_1 0.5s ease forwards;
	-webkit-animation:like_anim_1 0.5s ease forwards
}

@-webkit-keyframes like_anim_1 {
	0% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}

	50% {
		-webkit-transform:translateX(20px);
		-moz-transform:translateX(20px);
		-ms-transform:translateX(20px);
		-o-transform:translateX(20px);
		transform:translateX(20px);
	}

	100% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}
}

@keyframes like_anim_1 {
	0% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}

	50% {
		-webkit-transform:translateX(20px);
		-moz-transform:translateX(20px);
		-ms-transform:translateX(20px);
		-o-transform:translateX(20px);
		transform:translateX(20px);
	}

	100% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}
}

.container_like.active svg
{
	fill: #e44b50;
	animation:like_anim_2 0.5s ease forwards;
	-webkit-animation:like_anim_2 0.5s ease forwards
}
@-webkit-keyframes like_anim_2 {
	0% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}

	50% {
		-webkit-transform:translateX(20px);
		-moz-transform:translateX(20px);
		-ms-transform:translateX(20px);
		-o-transform:translateX(20px);
		transform:translateX(20px);
	}

	100% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}
}

@keyframes like_anim_2 {
	0% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}

	50% {
		-webkit-transform:translateX(20px);
		-moz-transform:translateX(20px);
		-ms-transform:translateX(20px);
		-o-transform:translateX(20px);
		transform:translateX(20px);
	}

	100% {
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-o-transform:translateX(0px);
		transform:translateX(0px);
	}
}

.compteur_like
{
	color: white;
	font-size: 18px;
	line-height: 18px;
	line-height: 20px;

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

.container_like.active .compteur_like
{
	color: #e44b50;
}

.container_info_photo_min
{
	color: white;
	max-height: 90%;
	width: 80%;
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}

.title_photo_min
{
	font-size:2vw;
	opacity: 0;
	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	-webkit-transform:translateY(20px);
	-moz-transform:translateY(20px);
	-ms-transform:translateY(20px);
	-o-transform:translateY(20px);
	transform:translateY(20px);
}	

.photo_min:hover .title_photo_min
{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity: 1;
}

.subtitle_photo_min
{
	margin-top: 2%;
	font-size:1.5vw;
	opacity: 0;

	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	-webkit-transition-delay: 0.10s;
	-moz-transition-delay: 0.10s;
	-ms-transition-delay: 0.10s;
	-o-transition-delay: 0.10s;
    transition-delay: 0.10s;

	-webkit-transform:translateY(20px);
	-moz-transform:translateY(20px);
	-ms-transform:translateY(20px);
	-o-transform:translateY(20px);
	transform:translateY(20px);
}

.photo_min:hover .subtitle_photo_min
{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	opacity: 1;
}

.play_lightbox_photo_min
{
	display: inline-block;
	margin-top: 10%;
	cursor: pointer;
	font-size: 16px;
	text-decoration: underline;
	opacity: 0;

	-webkit-transition: all .35s ease;
	   -moz-transition: all .35s ease;
	    -ms-transition: all .35s ease;
	     -o-transition: all .35s ease;
	        transition: all .35s ease;

	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
    transition-delay: 0.2s;

	-webkit-transform:translateY(20px);
	-moz-transform:translateY(20px);
	-ms-transform:translateY(20px);
	-o-transform:translateY(20px);
	transform:translateY(20px);
}

.photo_min:hover .play_lightbox_photo_min
{
	opacity: 1;
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
}

.container_trio {
	width:100%;
	display: inline-block;
	vertical-align: top;
}

.element_trio_style {
	height:25vw;
	width:33.33333333%;
	display:inline-block;
	vertical-align: top;
	position:relative;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover
}

.content_element_trio {
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}

.logo_element_trio {
	text-align:center
}

.logo_element_trio svg {
	display:inline-block;
}

.title_element_trio {
	font-size:2.5vw;
	text-align:center
}

.arrow_element_trio {
	margin:auto
}

/* ABOUT US */

.container_about_us
{
	display: none;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.container_top_about_us
{
	position: relative;
	width: 100%;
	height: 500px;
	z-index: 1;
	background-repeat:no-repeat;
 	background-position: center center;
 	background-size: cover;
 	-webkit-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}
.container_top_about_us.hide
{
	z-index: -1;
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
}
.shadow_about_us
{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 446px;
background-image: linear-gradient(180deg, transparent 0%, rgba(246, 246, 246, 0.02) 0%, rgba(0, 0, 0, 0.7) 100%);
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.content_about_us
{
	position: relative;
	z-index: 2;
	background-color: #FFF;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;

	-webkit-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}
.container_text_about_us
{
	margin: auto;
	text-align: center;
	background-color: #FFF;
	max-width: 760px;
	padding-top: 73px;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
	padding-bottom: 82px;
	padding-left: 30px;
	padding-right: 30px;

	-webkit-transform: translateY(-30%);
	   -moz-transform: translateY(-30%);
	    -ms-transform: translateY(-30%);
	     -o-transform: translateY(-30%);
	        transform: translateY(-30%);
}
.title_text_about
{
	color: #4e5b31;
	font-size: 42px;
	text-align: center;
}
.block_text
{
	display: inline-block;
	width: 258px;
	vertical-align: top;
	margin-top: 82px;
}
.title_block_text
{
	color: #5f5f5f;
	font-size: 16px;
}
.bar_block_text
{
	width: 32px;
	height: 2px;
	background-color: #5f5f68;
	margin: auto;
	margin-top: 14px;
	margin-bottom: 25px;
}
.content_block_text
{
	color: #cfd2cf;
	font-size: 16px;
	text-align: left;
}
.position_container_letstalk
{
	height: 200px;
	width: 258px;
	display: inline-block;
	vertical-align: top;
}
.container_letstalk
{
	width: 199px;
	height: 199px;
	border-radius: 100%;
	background-color: #4e5b31;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 82px;
}
.content_letstalk
{
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	color: white;
	font-size: 24px;
}
.bar_letstalk
{
	width: 32px;
	height: 2px;
	background-color: #FFF;
	margin: auto;
	margin-top: 9px;
}
/* END ABOUT US */

/* STORY */

.container_story
{
	display: none;
	text-align: center;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.top_story
{
	width: 100%;
	height: 390px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.shadow_story
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 446px;
background-image: linear-gradient(180deg, transparent 0%, rgba(246, 246, 246, 0.02) 0%, rgba(0, 0, 0, 0.7) 100%);
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.title_content_story
{
	display: inline-block;
	color: #5f5f5f;
	font-size: 16px;
	margin-top: 95px;
	margin-bottom: 65px;
}
.bar_title_content_story
{
	margin: auto;
	width: 32px;
	height: 2px;
	background-color: #5f5f68;
	margin-top: 10px;
}
.content_story
{
	width: 100%;
	text-align: center;
	background-color: #FFF;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 95px;
}
.block_text_story
{
	display: inline-block;
	vertical-align: top;
	max-width: 450px;
	color: #cfd2cf;
	font-size: 16px;
	text-align: left;
	margin: 10px;
}
/* END STORY */

/* FOOTER */

footer
{
	width: 100%;
	height: 134px;
	background-color: #4e5b31;
	position: relative;
}
.content_footer
{
	width: 100%;
	text-align: center;
	position:absolute;
	top:42px;
	left:50%;
	-webkit-transform:translate(-50%, 0%);
	-ms-transform:translate(-50%, 0%);
	-o-transform:translate(-50%, 0%);
	transform:translate(-50%, 0%);
}
.info_footer
{
	display: inline-block;
	color: white;
	font-size: 13px;
}
.round_info
{
	width: 6px;
	height: 6px;
	border-radius: 100%;
	margin-left: 49px;
	margin-right: 49px;
	opacity: 0.3;
	background-color: white;
	display: inline-block;
}
.copyright
{
	font-size: 13px;
	color: white;
	position:absolute;
	bottom:20px;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}
/* END FOOTER */

#infoHeader{
		padding: 20px 10% 10px;
	    background: rgba(175,191,116,0.8);
	    box-shadow: 0px 0px 20px #000;
	    position: fixed;
	    width: 100%;
	    margin: 0;
	}	
	#infoHeader img {
		margin-right: 5px;
	    vertical-align: sub;
	}
	#infoHeader p {
		color: #fff;
    	font-family: "source_r";
    	font-size: 20px;
	}
	#firstContainer{
		margin-top: 200px;
   		padding: 1em
	}
	#mainContainer{
   		background: #AFBF74;
		background-image: url(../img/Photo1-small.jpg);
    	border-radius: 15px;
    	box-shadow: 5px 7px 20px rgba(0,0,0,0.2);
    	padding: 1em;
		margin-top: 300px;
	}
	.ui-widget-header{
		border-bottom: 1px solid #aaaaaa;
	}
	.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em 0 0;
	}
	.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: #fff;
		border: 1px solid #aaaaaa;
	}
	#tabContainer{
    background: none;
    border: none;
	}
	#tabList{
    background: none;
    border: none;
	}
	
	#tabList h2 {
		text-align: center;
		font-size: 1.2em;
	}
	#tagLine {
		color: #FFFFFF;
    text-shadow: 4px 4px 25px #000;
    font-size: 2em;
	}
	.tab img {
		margin: 1em 0;
		opacity: .9
	}
	.tab img:hover {
		opacity: 1;
	}
	.playLink{
		max-width: 100%;
		height: auto;
	}
	footer {
		background: #3D4D24;
		position: fixed;
		height: 100px;
		bottom: 0;
		color: #fff;
    font-size: 1.3em;
    padding: 15px;
    font-family: "source_r";
	}
	footer a{
		color: #fff;
	}
	footer a:hover{
		color: #fff;
		text-decoration: underline;
	}
	@media (max-width: 600px) {
		#tabList h2 {
		text-align: center;
		font-size: .9em;
		}
		#headerLogo {
			width: 90%;
			margin: auto;
		}
		#headerText{
			font-size: .6em;
		    margin: -10px -50px 20px 0;
		}
		#headerText p{
			font-size: 2em;
		}
		footer{
			padding: 10px;
			font-size: 1.2em;
		}
	}
	
