<div class="container_box" id="content">
  <div class="box_style_1 anim_box_1">
    <div class="box_in_style_1" style="background-color: #cb2126;">
      <div class="content_box_in">
        <div class="logo_content_box_in">
          <svg viewBox="0 0 29 38" style="width: 15%;" fill="#FFF">
              <use xlink:href="svg/pinterest.svg#pinterest"></use>
          </svg>
        </div>
        <div class="title_content_box_in maven_b" style="color: #FFF;">
          PINTEREST
        </div>
        <div class="info_content_box_in source_r">
          <!-- ADD MORE TEXT HERE -->
        </div>
        <a href="" class="link_content_box_in source_r" style="color: #FFF;">Follow me</a>
      </div>
    </div><div class="box_in_style_1 photo_min" data-photo="photo_12" style="background-image: url(img/Photo12-small.jpg); " onclick="activeImg()">
      <div class="overlay_photo_min">
          <div class="container_like">
            <div class="container_svg_like">
              <svg viewBox="0 0 22 20">
                  <use xlink:href="svg/like.svg#like"></use>
              </svg>
            </div>
            <div class="compteur_like source_s">
              22
            </div>
          </div>

          <div class="container_info_photo_min">
            <div class="title_photo_min maven_b">
              FOREST
            </div>
            <div class="subtitle_photo_min source_r">
              with beautiful view
            </div>
            <div class="play_lightbox_photo_min maven_b">
              More
            </div>
          </div>
        </div>
    </div><div class="box_in_style_1 photo_min"  data-photo="photo_13" style="background-image: url(img/Photo13-small.jpg); " onclick="activeImg()">
      <div class="overlay_photo_min">
          <div class="container_like">
            <div class="container_svg_like">
              <svg viewBox="0 0 22 20">
                  <use xlink:href="svg/like.svg#like"></use>
              </svg>
            </div>
            <div class="compteur_like source_s">
              12
            </div>
          </div>

          <div class="container_info_photo_min">
            <div class="title_photo_min maven_b">
              BANG UP SUMMER SPECIAL
            </div>
            <div class="subtitle_photo_min source_r">
              Try Shooting! 
            </div>
            <div class="play_lightbox_photo_min maven_b">
              More
            </div>
          </div>
        </div>
    </div><div class="box_in_style_1" style="background-color: #FFF;">
    <div class="content_box_in">
      <div class="logo_content_box_in">
          <svg style="width: 20%;" viewBox="0 0 40 40" fill="#aeb0ae">
            <use xlink:href="svg/instagram.svg#instagram"></use>
          </svg>
      </div>
        <div class="title_content_box_in maven_b" style="color: #aeb0ae;">
          INSTAGRAM
        </div>
        <div class="info_content_box_in source_r">
          <!-- ADD MORE TEXT HERE -->
        </div>
        <a href="" class="link_content_box_in source_r" style="color: #aeb0ae;">Find us</a>
      </div>
    </div>
  </div><!-- WHITE SPACE 

  --><div class="photo_min box_style_2 anim_box_2" data-photo="photo_14" style="background-image: url(img/Photo14-small.jpg);" onclick="activeImg()">
    <div class="overlay_photo_min">
      <div class="container_like">
        <div class="container_svg_like">
          <svg viewBox="0 0 22 20">
              <use xlink:href="svg/like.svg#like"></use>
          </svg>
        </div>
        <div class="compteur_like source_s">
          02
        </div>
      </div>

      <div class="container_info_photo_min">
        <div class="title_photo_min maven_b">
          DUNK AND DOZE
        </div>
        <div class="subtitle_photo_min source_r">
          Experience
        </div>
        <div class="play_lightbox_photo_min maven_b">
          More
        </div>
      </div>
    </div>
  </div><!-- WHITE SPACE 

  --><div class="photo_min box_style_2 anim_box_3" data-photo="photo_15" style="background-image: url(img/Photo15-small.jpg);" onclick="activeImg()">
    <div class="overlay_photo_min">
      <div class="container_like">
        <div class="container_svg_like">
          <svg viewBox="0 0 22 20">
              <use xlink:href="svg/like.svg#like"></use>
          </svg>
        </div>
        <div class="compteur_like source_s">
          22
        </div>
      </div>

      <div class="container_info_photo_min">
        <div class="title_photo_min maven_b">
          KAYAKING
        </div>
        <div class="subtitle_photo_min source_r">
          with beautiful view
        </div>
        <div class="play_lightbox_photo_min maven_b">
          More
        </div>
      </div>
    </div>
  </div><!-- WHITE SPACE 

   --><div class="box_style_1 anim_box_4">
    <div class="photo_min box_in_style_1" data-photo="photo_16" style="background-image: url(img/Photo16-small.jpg); " onclick="activeImg()">
      <div class="overlay_photo_min">
          <div class="container_like">
            <div class="container_svg_like">
              <svg viewBox="0 0 22 20">
                  <use xlink:href="svg/like.svg#like"></use>
              </svg>
            </div>
            <div class="compteur_like source_s">
              12
            </div>
          </div>

          <div class="container_info_photo_min">
            <div class="title_photo_min maven_b">
              BANG UP SUMMER SPECIAL
            </div>
            <div class="subtitle_photo_min source_r">
              Try Shooting! 
            </div>
            <div class="play_lightbox_photo_min maven_b">
              More
            </div>
          </div>
        </div>
    </div><div class="box_in_style_1" style="background-color: #0cbff2;">
      <div class="content_box_in">
        <div class="logo_content_box_in">
          <svg viewBox="0 0 49 51" style="width: 20%;" fill="#FFF">
              <use xlink:href="svg/skype.svg#skype"></use>
          </svg>
        </div>
        <div class="title_content_box_in maven_b" style="color: #FFF;">
          SKYPE
        </div>
        <div class="info_content_box_in source_r" style="color: #FFF;">
          id : yourname
        </div>
        <a href="" class="link_content_box_in source_r" style="color: #000;"></a>
      </div>
    </div><div class="box_in_style_3" style="background-color:#FFF">
      <div class="title_box_in_style_3 maven_b" style="color: #AEB0AE;">
        TRIP AROUND THE WORLD !
      </div>
      <div class="subtitle_box_in_style_3 source_r" style="color: #CFD2CF;">
        A quelques pas du centre commercial Saint-Sever, prenez la direction du boulevard de l'Europe et entrez au 49 rue Saint Julien. ; le club rouennais originel est là : 70 cours collectifs animés par un staff sportif enthousiaste dont 25 cours en piscine si vous voulez vous mouiller. Déchaînez-vous !
      </div>
    </div>
  </div>
  
  <div class="container_trio">
    <div class="element_trio_style" style="background-color: #069;">
      <div class="content_element_trio">
        <div class="logo_element_trio">
          <svg viewBox="0 0 58 58" style="width: 20%;" fill="#FFF">
              <use xlink:href="svg/linkedin.svg#linkedin"></use>
          </svg>
        </div>
        <div class="title_element_trio maven_b" style="color: #FFF;">
          LINKEDIN
        </div>
        <a href="" class="link_content_box_in source_r" style="color: #FFF;">Write us</a>
        
      </div>
    </div><div class="photo_min element_trio_style" data-photo="photo_17" style="background-image: url(img/Photo17-small.jpg);" onclick="activeImg()">
      <div class="overlay_photo_min">
            <div class="container_like">
              <div class="container_svg_like">
                <svg viewBox="0 0 22 20">
                    <use xlink:href="svg/like.svg#like"></use>
                </svg>
              </div>
              <div class="compteur_like source_s">
                22
              </div>
            </div>

            <div class="container_info_photo_min">
              <div class="title_photo_min maven_b">
                KAYAKING
              </div>
              <div class="subtitle_photo_min source_r">
                with beautiful view
              </div>
              <div class="play_lightbox_photo_min maven_b">
                More
              </div>
            </div>
          </div>
    </div><div class="element_trio_style" style="background-color: #df4d84;">
      <div class="content_element_trio">
        <div class="logo_element_trio" style="fill: #FFF;">
          <svg viewBox="0 0 53 53" style="width: 20%;" fill="#ffffff">
              <use xlink:href="svg/dribbble.svg#dribbble"></use>
          </svg>
        </div>
        <div class="title_element_trio maven_b" style="color: #FFF;">
          DRIBBBLE
        </div>
        <a href="" class="link_content_box_in source_r" style="color: #FFF;">See our work</a>
        
      </div>
    </div>
  </div>

  <div class="photo_min box_style_2" data-photo="photo_18" style="background-image: url(img/Photo18-small.jpg);" onclick="activeImg()">
    <div class="overlay_photo_min">
      <div class="container_like">
        <div class="container_svg_like">
          <svg viewBox="0 0 22 20">
              <use xlink:href="svg/like.svg#like"></use>
          </svg>
        </div>
        <div class="compteur_like source_s">
          12
        </div>
      </div>

      <div class="container_info_photo_min">
        <div class="title_photo_min maven_b">
          BANG UP SUMMER SPECIAL
        </div>
        <div class="subtitle_photo_min source_r">
          Try Shooting! 
        </div>
        <div class="play_lightbox_photo_min maven_b">
          More
        </div>
      </div>
    </div>
  </div><!-- WHITE SPACE 

  --><div class="photo_min box_style_2" data-photo="photo_19" style="background-image: url(img/Photo19-small.jpg);" onclick="activeImg()">
      <div class="overlay_photo_min">
        <div class="container_like">
          <div class="container_svg_like">
            <svg viewBox="0 0 22 20">
                <use xlink:href="svg/like.svg#like"></use>
            </svg>
          </div>
          <div class="compteur_like source_s">
            22
          </div>
        </div>

        <div class="container_info_photo_min">
          <div class="title_photo_min maven_b">
            KAYAKING
          </div>
          <div class="subtitle_photo_min source_r">
            with beautiful view
          </div>
          <div class="play_lightbox_photo_min maven_b">
            More
          </div>
        </div>
      </div>
  </div><!-- WHITE SPACE 

  --><div class="box_style_4">
    <div class="photo_min box_in_style_1" data-photo="photo_20" style="background-image: url(img/Photo20-small.jpg);" onclick="activeImg()">
      <div class="overlay_photo_min">
        <div class="container_like">
          <div class="container_svg_like">
            <svg viewBox="0 0 22 20">
                <use xlink:href="svg/like.svg#like"></use>
            </svg>
          </div>
          <div class="compteur_like source_s">
            02
          </div>
        </div>

        <div class="container_info_photo_min">
          <div class="title_photo_min maven_b">
            DUNK AND DOZE
          </div>
          <div class="subtitle_photo_min source_r">
            Experience
          </div>
          <div class="play_lightbox_photo_min maven_b">
            More
          </div>
        </div>
      </div>
    </div><div class="box_in_style_1" style="background-color: #00a578;">
      <div class="content_box_in">
          <div class="logo_content_box_in">
            <svg viewBox="0 0 46 52" style="width: 20%;" fill="#ffffff">
                <use xlink:href="svg/vine.svg#vine"></use>
            </svg>
          </div>
          <div class="title_content_box_in maven_b" style="color: #FFF;">
            VINE
          </div>
          <a href="" class="link_content_box_in source_r" style="color: #FFF;">More</a>
        </div>
    </div>
  </div><!-- WHITE SPACE 

  --><div class="box_style_4">
    <div class="photo_min box_in_style_1" data-photo="photo_21" style="background-image: url(img/Photo21-small.jpg);" onclick="activeImg()">
      <div class="overlay_photo_min">
        <div class="container_like">
          <div class="container_svg_like">
            <svg viewBox="0 0 22 20">
                <use xlink:href="svg/like.svg#like"></use>
            </svg>
          </div>
          <div class="compteur_like source_s">
            12
          </div>
        </div>

        <div class="container_info_photo_min">
          <div class="title_photo_min maven_b">
            BANG UP SUMMER SPECIAL
          </div>
          <div class="subtitle_photo_min source_r">
            Try Shooting! 
          </div>
          <div class="play_lightbox_photo_min maven_b">
            More
          </div>
        </div>
      </div>
    </div><div class="box_in_style_1 photo_min" data-photo="photo_22" style="background-image: url(img/Photo22-small.jpg);" onclick="activeImg()">
      <div class="overlay_photo_min">
        <div class="container_like">
          <div class="container_svg_like">
            <svg viewBox="0 0 22 20">
                <use xlink:href="svg/like.svg#like"></use>
            </svg>
          </div>
          <div class="compteur_like source_s">
            12
          </div>
        </div>

        <div class="container_info_photo_min">
          <div class="title_photo_min maven_b">
            BANG UP SUMMER SPECIAL
          </div>
          <div class="subtitle_photo_min source_r">
            Try Shooting! 
          </div>
          <div class="play_lightbox_photo_min maven_b">
            More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
